<div >
<form action = "/user/userborrowed" method = "get">
<fieldset>
    <legend>Check Borrowed Book by Username:</legend>
	<label for = "uname">Username</label><br>
	<input type = "text" id = "uname" name = "username"><br><br>
</fieldset>
<div>
	<br><button type = "submit">Submit</button>
</div>
</form>
</div>