
<div>
<form action = "/user/borrow" method = "post">
<fieldset>
    <legend>Borrow Book:</legend>
	<label for = "uname">Username</label><br>
	<input type = "text" id = "uname" name = "username"><br>

	<label for = "bid">Book Id</label><br>
	<input type = "text" id = "bid" name = "id"><br><br>

</fieldset>
<div>
	<br><button type = "submit">Submit</button>
</div>
</form>
</div>
