<div>
<form action = "/user/deleteuser" method = "post">


   <fieldset>
    <legend>Delete User By Username:</legend>
	<label for = "username">Username</label><br>
	<input type = "text" id = "username" name = "username">
</fieldset>
<div>
	<br><button type = "submit">Submit</button>
</div>
</form>
</div>