<div>
<form action = "/user/createuser" method = "post">
   <fieldset >
    <legend>Create User:</legend>
	<label for = "username">Username</label><br>
	<input type = "text" id = "username" name = "username"><br>

	<label for = "phone">Phone</label><br>
	<input type = "text" id = "phone" name = "phone"><br>

</fieldset>
<div>
	<br><button type = "submit">Submit</button>
</div>
</form>
</div>