<div>
<form action = "/book/createbook" method = "post">
   <fieldset >
    <legend>Create Book:</legend>
	<label for = "title">Title</label><br>
	<input type = "text" id = "title" name = "title"><br>

	<label for = "inventory_count">Inventory</label><br>
	<input type = "text" id = "inventory_count" name = "inventory_count"><br><br>
	
</fieldset>
<div>
	<br><button type = "submit">Submit</button>
</div>
</form>
</div>