<div>
<form action = "/user/searchuserinfo" method = "get">

   <fieldset>
    <legend>Search User By Username:</legend>
	<label for = "username">Username</label><br>
	<input type = "text" id = "username" name = "username">
</fieldset>
<div>
	<br><button type = "submit">Submit</button>
</div>
</form>
</div>