<div>
<form action = "/book/searchbookinfo" method = "get">

   <fieldset>
    <legend>Search Book By ID:</legend>
	<label for = "id">ID</label><br>
	<input type = "text" id = "id" name = "id">
</fieldset>
<div>
	<br><button type = "submit">Submit</button>
</div>
</form>
</div>