<div style = "padding:60px ; font-family:Arial ">
<h2>BORROWED BOOK LIST</h2>
<table border=1px style="background-color:aliceblue ">
    <tr>
        <th>Borrowed Book</th>
    </tr>
    {{#each docs}}
    <tr>
        <td>{{this}}</td>
    </tr>
    {{/each}}
</table>




