<div>
<form action = "/book/updatebook" method = "post">
   <fieldset>
    <legend>Update Book Title and Inventory By ID:</legend>

	<label for = "id">Book ID</label><br>
	<input type = "text" id = "id" name = "id"><br>

	<label for = "title">New Title</label><br>
	<input type = "text" id = "title" name = "title"><br>

	<label for = "inventory_count">New Inventory</label><br>
	<input type = "text" id = "inventory_count" name = "inventory_count"><br><br>

	
</fieldset>
<div>
	<br><button type = "submit">Submit</button>
</div>
</form>
</div>