<div>
<form action = "/user/checkuserinfo" method = "get">
<div>
	<label for = "username">Username</label>
	<input type = "text" id = "username" name = "username">
</div>
<div>
	<button type = "submit">Submit</button>
</div>
</form>
</div>